     	* {
     		margin: 0;
     	}
      	html {
      		width: 100%;
      	}

		body {
			background: url(http://portfolios.chuckhaney.com/data/photos/904_1palace_of_fine_arts_pano_0_copy.jpg) no-repeat;
			background-size: cover;
			width: 100%;
			overflow: auto;
		}      
        p.maincontent
		{
		  font-size:1em;
		  font-family:calibri,sans-serif;
		  line-height:1.5em;
		  width:50%;
		  min-width:750px;
		  max-width:1280px;
		  float:right;
		  border-style:solid;
		  margin:1em;
		  padding:1em;
		}

		p.contentheader
		{
		  font-size:2em;
		  font-family:calibri, sans-serif;
		  font-weight:700;
		}

		p.siteheader
		{
		  font-size:3em;
		  font-family:calibri,sans-serif;
		  color: whitesmoke;
		}

		p.footer
		{
		  font-size:.7em;
		  font-family:calibri,sans-serif;

		}

		li
		{
		  border:none;
		  font-family:"open sans" , calibri, sans-serif;
		  font-size:1.4em;
		  text-align:center;
		  display:inline-block;
		  list-style-type:none;
		  padding:1em;
		  background-color: none;
		  opacity:0.9;
		  background-radius:7px;



		}

		p.contactinfo
		{
		  font-size:1em;
		  font-family:calibri,sans-serif;
		}

		p.subheader
		{
		  font-size:1.5em;
		  font-family:calibri,sans-serif;
		}

		a
		{
		  text-decoration:none;
		  color: darkgray;
		}

		a.active, a:hover {
			color: whitesmoke;
		}

		#header
		{
		  width:100%;
		  background-color:none;
		  margin: 30px;
		}

		#container
		{
		  width:100%;
		  background-color: whitesmoke;
		  margin: 45px auto;
		  opacity: 0.8;

		}

		#social
		{
		  width:80px;
		  float:left;
		  /*border:solid thin #000;*/
		  text-align:center;
		  font-family:"open sans", calibri, sans-serif;
		  font-size:1em;
		  margin:1em 0 0 3em;
		  padding:2em;
		}

		#maincontent
		{
		  font-size:1em;
		  font-family:calibri,sans-serif;
		  line-height:1.5em;
		  width:75%;
		  min-width:none;
		  max-width:1280px;
		  float:left;
		  /*border-style:solid;*/
		  margin:1em;
		  padding:2em;
		}

		#clear
		{
		  clear:both;
		}
		#footer{
			text-align:center;
			font-family: "open sans", calibri;
		}
